global
    log         /dev/log local0

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    # utilize system-wide crypto-policies
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

defaults
    mode                    http
    log                     global
    option                  httplog
    #option forwardfor       except 127.0.0.1
    #option forwardfor	    except ::1
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

#######################################################################

frontend http
	bind *:80,:::80
	bind *:443,:::443 ssl crt /etc/haproxy/certs/fullchain.pem
	mode http
	option httplog
	http-request capture req.hdr(Host) len 30
	log-format "%ci:%cp [%tr] %ft %b/%s %hr %hs %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %{+Q}r"
	http-request redirect scheme https unless { ssl_fc }
	use_backend %[req.hdr(host),lower,map_dom(/etc/haproxy/maps/hosts.map,web)]

#######################################################################
	
#####
# OTHER BACKENDS
#####

backend k3s
	option forwardfor
	http-request add-header X-forwarded-Proto https if { ssl_fc }
	server k3s-cluster 192.168.1.100:8000 maxconn 32

#####
# OTHER BACKENDS
#####
